<div class="wrapper-container">
  <mat-card class="example-form">
    <section class="mat-typography">
      <h1>1er componente:</h1>
      <p>
        Debe mostrar un input tipo texto y un botón, que al hacer clic en ese
        botón muestre el texto en otro div que contiene otro componente, solo
        para mostrar ese texto (a libre elección, puede ser un saludo o lo que
        se desee)
      </p>
    </section>

    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="name"
        matInput
        placeholder="Ingrese un texto cualquiera..."
      ></textarea>
      <!-- <input [(ngModel)]="title" type="text" /> -->
    </mat-form-field>

    <button
      (click)="show = true"
      [disabled]="!name"
      mat-raised-button
      *ngIf="!show"
      color="primary"
      class="btn first-button"
    >
      <mat-icon>send</mat-icon>
      Mostrar segundo componente
    </button>

    <button
      mat-stroked-button
      color="primary"
      class="btn"
      mat-button
      *ngIf="name"
      (click)="name = ''; show = false"
    >
      <mat-icon>close</mat-icon>
      Resetear Formulario
    </button>
  </mat-card>
</div>

<!-- <app-component-two *ngIf="show" [textToShow]="name"></app-component-two> -->
<app-component-two
  [textToShow]="name"
  (propagar)="procesaPropagar($event)"
></app-component-two>
