.wrapper-container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 500px;

}

.first-button {
    margin-right: 16px;
}

.example-full-width {
    max-width: 100%;
    width: 100%;
}