body {
    font: 18px/22px arial;
}

table.guitar {
    background: url(https://thumbs.dreamstime.com/t/wood-texture-maple-background-design-49324284.jpg);
}

table {
    border: solid;
}

table.guitar td {
    border-right: solid;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
}

table.guitar td:after {
    content: " ";
    display: block;
    background: rgba(95, 84, 84, 0.27);
    height: 8px;
    width: 100%;
    position: absolute;
    top: 16px;
}

table.guitar td:first-child {
    background-color: gainsboro;
    border-right: solid 10px gray;
}

td span {
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
    line-height: 30px;
    border-radius: 50%;
}

td.active span {
    color: white;
    box-shadow: inset -2px -3px 7px 2px rgba(0, 0, 0, 0.42);
    background: red;
}

table.piano td {
    background: white;
    border-right: solid;
    height: 110px;
    width: 51px;
    cursor: pointer;
    position: relative;
}

table.piano td.c-s,
table.piano td.d-s,
table.piano td.f-s,
table.piano td.g-s,
table.piano td.a-s {
    background: black;
    color: white;
    border-color: black;
    border: none;
    position: absolute;
    margin-left: -16px;
    height: 70px;
    width: 28px;
    z-index: 9;
}
