<div class="wrapper-container">
  <mat-card class="the-card">
    <section class="mat-typography">
      <h1>3er componente:</h1>

      <p>
        Debe mostrar una pantalla de consulta, donde mediante una búsqueda de un
        input text, llamando a un servicio consulte a una API REST y muestre los
        resultados en pantalla.
      </p>
      <p>
        Como API REST se puede usar cualquiera de las siguientes que son libres:
      </p>

      <ul>
        <li>
          <a target="_blank" href="https://domainsdb.info/">
            https://domainsdb.info/
          </a>
        </li>
        <li>
          <a target="_blank" href="https://jsonplaceholder.typicode.com/">
            https://jsonplaceholder.typicode.com/
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/public-apis/public-apis">
            https://github.com/public-apis/public-apis
          </a>
        </li>
        <li>
          Si esas apis dan CORS se puede hacer un proxy/wrapper interno que
          redirija sin dar error o usar un json local o usar otra api.
        </li>
      </ul>
    </section>
    <mat-card>
      <mat-form-field class="form-elements">
        <input
          class="form-elements"
          [(ngModel)]="urlLink"
          matInput
          placeholder="Ingrese la URI de la API"
        />
      </mat-form-field>

      <button
        [disabled]="!urlLink"
        mat-raised-button
        (click)="onClickGetResults()"
        color="primary"
        class="btn"
      >
        <mat-icon>send</mat-icon>
        Obtener resultados
      </button>
    </mat-card>

    <br />

    <mat-card>
      <section class="mat-typography">
        <h4>Ejemplos</h4>
      </section>

      <div class="example-button-row">
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/posts';
            onClickGetResults()
          "
        >
          posts
        </button>
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/comments';
            onClickGetResults()
          "
        >
          comments
        </button>
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/albums';
            onClickGetResults()
          "
        >
          albums
        </button>
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/photos';
            onClickGetResults()
          "
        >
          photos
        </button>
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/users';
            onClickGetResults()
          "
        >
          users
        </button>
        <button
          mat-raised-button
          (click)="
            urlLink = 'https://jsonplaceholder.typicode.com/todos';
            onClickGetResults()
          "
        >
          todos
        </button>
      </div>
    </mat-card>

    <br />

    <mat-card *ngIf="showResults">
      <mat-progress-bar *ngIf="loadingData" mode="query"></mat-progress-bar>
      <p>
        Cant. de Resultados:
        <b> {{ jsonObj.length }}</b>
      </p>

      <mat-card class="cards-result" *ngFor="let item of jsonObj">
        <pre>{{ item | json }}</pre>
      </mat-card>
    </mat-card>
  </mat-card>
</div>
