.wrapper-container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-card {
    width: 100%;
}

.cards-result {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

.form-elements {
    width: 100%;
}



.example-button-row button,
.example-button-row a {
    margin-right: 16px;
}