<div class="wrapper-container">
  <mat-card class="the-card">

    <mat-card class="section-options">
      <mat-card-content>
        <section>
          <mat-slide-toggle [(ngModel)]="showOptions"
                            class="example-margin">
            Options
          </mat-slide-toggle>

          <mat-slide-toggle [(ngModel)]="showGuitar"
                            class="example-margin"
                            [color]="sliderColor">
            Guitar
          </mat-slide-toggle>

          <mat-slide-toggle [(ngModel)]="showPiano"
                            class="example-margin"
                            [color]="sliderColor">
            Piano
          </mat-slide-toggle>
        </section>
      </mat-card-content>

      <section *ngIf="showOptions">
        <section class="mat-typography">
          <h1>Options</h1>
        </section>


        <!-- guitar options -->
        <section class="mat-typography">
          <h4>Guitar</h4>
        </section>

        <mat-accordion>

          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Scales
              </mat-panel-title>
              <mat-panel-description>
                Scale notes
              </mat-panel-description>
            </mat-expansion-panel-header>



            <div class="example-ripple-container">
              <div *ngFor="let note of notes"
                   class="example-ripple mat-elevation-z1"
                   matRipple
                   (click)="onClickNote(note)"
                   [ngClass]="{'active mat-elevation-z7' : note.active}">
                {{note.noteStr}}
              </div>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Note Root
              </mat-panel-title>
              <mat-panel-description>
                Currently: <b *ngIf="noteRootValue != undefined"> {{notes[noteRootValue].noteStr}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field>
                <mat-select [(ngModel)]="noteRootValue"
                            (selectionChange)="onChangeNoteRoot(noteRootValue)">
                  <mat-option value="-1"
                              selected>--</mat-option>
                  <!-- [value]="food.noteStr" -->
                  <mat-option *ngFor="let food of notes; let i = index"
                              [value]="i">
                    {{food.noteStr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>

          </mat-expansion-panel>

        </mat-accordion>
        <!-- /guitar options -->

      </section>
    </mat-card>

    <br>


    <mat-card *ngIf="showGuitar">

      <div style="height: 40px;">

        <section class="mat-typography"
                 style="float: left;">
          <h2>Guitar</h2>
        </section>
        <button (click)="showGuitarOptions= (!showGuitarOptions)"
                mat-icon-button
                style="float: right; margin: -5px;">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <!-- guitar options -->
      <mat-card *ngIf="showGuitarOptions"
                style="
			margin-bottom: 10px;
		">

        <section class="mat-typography">
          <h4> Guitar Options</h4>
        </section>

        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Frets amount
              </mat-panel-title>
              <mat-panel-description>
                Currently: <b>{{cantidadTrastes}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field class="form-elements"
                              style="width: 40px; margin-right: 4px;">
                <input class="form-elements"
                       [(ngModel)]="cantidadTrastes"
                       type="number"
                       matInput
                       placeholder="Cant. Trastes" />
              </mat-form-field>

              <mat-slider min="5"
                          max="25"
                          step="1"
                          [(ngModel)]="cantidadTrastes"
                          value="15"></mat-slider>

              <button [disabled]="!cantidadTrastes"
                      mat-raised-button
                      (click)="diapasonConstructor()"
                      color="primary"
                      class="btn">
                <mat-icon>send</mat-icon>
                Update
              </button>
            </mat-card>

          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Strings
              </mat-panel-title>
              <mat-panel-description>
                Currently
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field *ngFor="let cuerda of cuerdas; let i = index"
                              style="width: 40px; margin-right: 4px;">
                <mat-label>Str. {{i+1}}</mat-label>
                <mat-select [(ngModel)]="cuerda"
                            (selectionChange)="cuerdas[i] = cuerda">
                  <mat-option *ngFor="let note of notes"
                              [value]="note.noteStr">
                    {{note.noteStr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br>
              <button mat-raised-button
                      (click)="onClickAddString()"
                      color="primary"
                      class="btn">
                <mat-icon>add</mat-icon>
                Add
              </button>

              <button mat-raised-button
                      (click)="onClickDeleteString()"
                      color="primary"
                      class="btn">
                <mat-icon>delete</mat-icon>
                Del
              </button>

              <button [disabled]="!cantidadTrastes"
                      mat-raised-button
                      (click)="diapasonConstructor()"
                      color="primary"
                      class="btn">
                <mat-icon>send</mat-icon>
                Update
              </button>

            </mat-card>

          </mat-expansion-panel>


        </mat-accordion>

      </mat-card>
      <!-- /guitar options -->








      <!-- <img src="assets/img/rosewood.jpg"> -->
      <div class="guitar-container">
        <table class="guitar">
          <tr class="trastes-numeros">
            <td *ngFor="let trastes of cantidadTrastesArr">
              <span>{{trastes}}</span>
            </td>
          </tr>

          <tr *ngFor="let diap of diapason"
              class="string">

            <!--
								[ngClass]="{
								'active' : d.active,
								'active tonic' : d.root && d.active
								}"
							-->

            <td *ngFor="let d of diap"
                [ngClass]="{
									'tonic': d.root && d.active,
									'active': d.active
								}"
                (click)="onClickNote(d)">
              <span>{{d.noteStr}}</span>
              <!-- <span>{{d|json}}</span> -->
            </td>
          </tr>

          <tr class="trastes-puntitos">
            <td *ngFor="let trastes of cantidadTrastesArr"
                [ngClass]="
							{
								'two': renderPuntitosGuitarClassCss(trastes)===2,
								'one': renderPuntitosGuitarClassCss(trastes)===1
							}">
              <span></span>
            </td>
          </tr>

        </table>
      </div>
    </mat-card>

    <br *ngIf="showGuitar">

    <mat-card *ngIf="showPiano">

      <div style="height: 40px;">
        <section class="mat-typography"
                 style="float: left;">
          <h2>
            Piano
          </h2>
        </section>

        <button (click)="showPianoOptions= (!showPianoOptions)"
                mat-icon-button
                style="float: right; margin: -5px;">
          <mat-icon>settings</mat-icon>
        </button>
      </div>


      <!-- piano options -->
      <mat-card *ngIf="showPianoOptions">

        <section class="mat-typography">
          <h4> Piano Options</h4>
        </section>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Amount of piano keys
              </mat-panel-title>
              <mat-panel-description>
                Currently: <b>{{pianoCantidadTeclas}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field class="form-elements"
                              style="width: 40px; margin-right: 4px;">
                <input class="form-elements"
                       [(ngModel)]="pianoCantidadTeclas"
                       type="number"
                       matInput
                       readonly
                       placeholder="Cant. Trastes" />
              </mat-form-field>

              <mat-slider min="12"
                          max="36"
                          step="1"
                          (change)="pianoConstructor()"
                          [(ngModel)]="pianoCantidadTeclas"></mat-slider>

            </mat-card>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card>
      <!-- /piano options -->

      <br *ngIf="showPianoOptions">

      <div class="piano-container">
        <table class="piano">
          <tr class="">
            <td *ngFor="let nn of pianoTeclas"
                class={{nn.classes}}
                [ngClass]="{
								'tonic': nn.root && nn.active,
								'active': nn.active
							}"
                (click)="onClickNote(nn)">
              <span>{{nn.noteStr}}</span>
            </td>
          </tr>
        </table>
      </div>
    </mat-card>

    <!--
		<mat-card>
			<app-guitar></app-guitar>
		</mat-card>

		<br>

		<mat-card>
			<app-piano></app-piano>
		</mat-card>
		-->

  </mat-card>
</div>
