<div class="wrapper-container">
  <mat-card class="the-card">

    <mat-card class="section-options">
      <mat-card-content>
        <section>
          <mat-slide-toggle [(ngModel)]="showOptions"
                            class="example-margin">
            SCALE
          </mat-slide-toggle>

          <mat-slide-toggle [(ngModel)]="showGuitar"
                            class="example-margin"
                            [color]="sliderColor">
            GUITAR
          </mat-slide-toggle>

          <mat-slide-toggle [(ngModel)]="showPiano"
                            class="example-margin"
                            [color]="sliderColor">
            PIANO
          </mat-slide-toggle>
        </section>
      </mat-card-content>

      <section *ngIf="showOptions">

        <mat-accordion>

          <mat-expansion-panel>
            <!-- ROOT NOTE -->
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 10%;">
                NOTE ROOT
              </mat-panel-title>
              <mat-panel-description>
                CURRENTLY: <b *ngIf="noteRootValue != undefined"> {{notes[noteRootValue].noteStr}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="example-ripple-container">
              <div *ngFor="let note of notes;let i=index;"
                   class="example-ripple mat-elevation-z1"
                   matRipple
                   (click)="onClickNoteRoot(note,i)"
                   [ngClass]="{'active mat-elevation-z7' : note.root}">
                {{note.noteStr}}
              </div>
            </div>
            <!-- ROOT NOTE -->
          </mat-expansion-panel>

          <mat-expansion-panel>

            <!-- SCALE -->
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 10%;">
                SCALES
              </mat-panel-title>
              <mat-panel-description>
                SCALE NOTES
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="example-ripple-container">
              <div *ngFor="let note of notes"
                   class="example-ripple mat-elevation-z1"
                   matRipple
                   (click)="onClickNote(note)"
                   [ngClass]="{'active mat-elevation-z7' : note.active}">
                {{note.noteStr}}
              </div>
            </div>
            <!-- SCALE -->

          </mat-expansion-panel>

        </mat-accordion>
        <!-- /GUITAR OPTIONS -->

      </section>
    </mat-card>

    <br>


    <mat-card *ngIf="showGuitar">

      <div style="height: 40px;">

        <section class="mat-typography"
                 style="float: left;">
          <h2>GUITAR</h2>
        </section>
        <button (click)="showGuitarOptions= (!showGuitarOptions)"
                mat-icon-button
                style="float: right; margin: -5px;">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <!-- GUITAR OPTIONS -->
      <mat-card *ngIf="showGuitarOptions"
                style="
			margin-bottom: 10px;
		">

        <section class="mat-typography">
          <h4>GUITAR OPTIONS</h4>
        </section>

        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 10%;">
                FRETS AMOUNT
              </mat-panel-title>
              <mat-panel-description>
                CURRENTLY: <b>{{cantidadTrastes}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field class="form-elements"
                              style="width: 40px; margin-right: 4px;">
                <input class="form-elements"
                       [(ngModel)]="cantidadTrastes"
                       type="number"
                       matInput
                       placeholder="Cant. Trastes" />
              </mat-form-field>

              <mat-slider min="5"
                          max="25"
                          step="1"
                          [(ngModel)]="cantidadTrastes"
                          value="15"></mat-slider>

              <button [disabled]="!cantidadTrastes"
                      mat-raised-button
                      (click)="diapasonConstructor()"
                      color="primary"
                      class="btn">
                <mat-icon>send</mat-icon>
                Update
              </button>
            </mat-card>

          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 10%;">
                STRINGS
              </mat-panel-title>
              <mat-panel-description>
                CURRENTLY
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field *ngFor="let cuerda of cuerdas; let i = index"
                              style="width: 40px; margin-right: 4px;">
                <mat-label>Str. {{i+1}}</mat-label>
                <mat-select [(ngModel)]="cuerdas[i]">
                  <mat-option *ngFor="let note of notes"
                              [value]="note.noteStr">
                    {{ note.noteStr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br>
              <button mat-raised-button
                      (click)="onClickAddString()"
                      color="primary"
                      style="margin-right: 15px;"
                      class="btn">
                <mat-icon>add</mat-icon>
                ADD
              </button>

              <button mat-raised-button
                      (click)="onClickDeleteString()"
                      color="primary"
                      style="margin-right: 15px;"
                      class="btn">
                <mat-icon>delete</mat-icon>
                DEL
              </button>

              <button [disabled]="!cantidadTrastes"
                      mat-raised-button
                      (click)="diapasonConstructor()"
                      color="primary"
                      style="margin-right: 15px;"
                      class="btn">
                <mat-icon>send</mat-icon>
                UPDATE
              </button>

            </mat-card>

          </mat-expansion-panel>


        </mat-accordion>

      </mat-card>
      <!-- /guitar options -->








      <!-- <img src="assets/img/rosewood.jpg"> -->
      <div class="guitar-container">
        <table class="guitar">
          <tr class="trastes-numeros">
            <td *ngFor="let trastes of cantidadTrastesArr">
              <span>{{trastes}}</span>
            </td>
          </tr>

          <tr *ngFor="let diap of diapason"
              class="string">

            <!--
								[ngClass]="{
								'active' : d.active,
								'active tonic' : d.root && d.active
								}"
							-->

            <td *ngFor="let d of diap"
                [ngClass]="{
									'tonic': d.root && d.active,
									'active': d.active
								}"
                (click)="onClickNote(d)">
              <span>{{d.noteStr}}</span>
              <!-- <span>{{d|json}}</span> -->
            </td>
          </tr>

          <tr class="trastes-puntitos">
            <td *ngFor="let trastes of cantidadTrastesArr"
                [ngClass]="
							{
								'two': renderPuntitosGuitarClassCss(trastes)===2,
								'one': renderPuntitosGuitarClassCss(trastes)===1
							}">
              <span></span>
            </td>
          </tr>

        </table>
      </div>
    </mat-card>

    <br *ngIf="showGuitar">

    <mat-card *ngIf="showPiano">

      <div style="height: 40px;">
        <section class="mat-typography"
                 style="float: left;">
          <h2>
            PIANO
          </h2>
        </section>

        <button (click)="showPianoOptions= (!showPianoOptions)"
                mat-icon-button
                style="float: right; margin: -5px;">
          <mat-icon>settings</mat-icon>
        </button>
      </div>


      <!-- piano options -->
      <mat-card *ngIf="showPianoOptions">

        <section class="mat-typography">
          <h4> PIANO OPTIONS</h4>
        </section>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 10%;">
                AMOUNT OF PIANO KEYS
              </mat-panel-title>
              <mat-panel-description>
                CURRENTLY: <b>{{pianoCantidadTeclas}}</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-form-field class="form-elements"
                              style="width: 40px; margin-right: 4px;">
                <input class="form-elements"
                       [(ngModel)]="pianoCantidadTeclas"
                       type="number"
                       matInput
                       readonly
                       placeholder="Cant. Trastes" />
              </mat-form-field>

              <mat-slider min="12"
                          max="36"
                          step="1"
                          (change)="pianoConstructor()"
                          [(ngModel)]="pianoCantidadTeclas"></mat-slider>

            </mat-card>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card>
      <!-- /piano options -->

      <br *ngIf="showPianoOptions">

      <div class="piano-container">
        <table class="piano">
          <tr class="">
            <td *ngFor="let nn of pianoTeclas"
                class={{nn.classes}}
                [ngClass]="{
								'tonic': nn.root && nn.active,
								'active': nn.active
							}"
                (click)="onClickNote(nn)">
              <span>{{nn.noteStr}}</span>
            </td>
          </tr>
        </table>
      </div>
    </mat-card>

    <!--
		<mat-card>
			<app-guitar></app-guitar>
		</mat-card>

		<br>

		<mat-card>
			<app-piano></app-piano>
		</mat-card>
		-->

  </mat-card>
</div>