.container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: 500px;
}

.header-box-shadow {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation-spacer {
  flex: 1 1 auto;
}

.root-note-select {
  width: 122px;
  margin-right: 8px;
}

.chord-type-select {
  width: 164px;
  margin-right: 8px;
}

.scale-type-select {
  width: 180px;
  margin-right: 8px;
}

.bpm-input {
  width: 72px;
  margin-top: 20px;
  margin-right: 4px;
}

.selected-notes-input {
  width: 170px;
  margin-right: 8px;
}

.mode-selector,
.instrument-selector,
.playback-instrument-toggle {
  margin-right: 8px;
}

:host ::ng-deep .root-note-select .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .chord-type-select .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .scale-type-select .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .selected-notes-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .mode-selector .mat-button-toggle {
  height: 36px;
}

:host ::ng-deep .instrument-selector .mat-button-toggle {
  height: 36px;
}

:host ::ng-deep .playback-instrument-toggle .mat-button-toggle {
  height: 36px;
}

:host ::ng-deep .playback-instrument-toggle .mat-button-toggle-label-content {
  line-height: 36px;
  padding: 0 10px;
  font-size: 13px;
}

:host ::ng-deep .instrument-selector .mat-button-toggle-label-content {
  line-height: 36px;
  padding: 0 10px;
  font-size: 15px;
}

:host ::ng-deep .instrument-selector .mat-pseudo-checkbox {
  margin-right: 6px;
}

:host ::ng-deep .mode-selector .mat-pseudo-checkbox {
  margin-right: 6px;
}

:host ::ng-deep .mode-selector .mat-button-toggle-label-content {
  line-height: 36px;
  padding: 0 10px;
  font-size: 15px;
}

:host ::ng-deep .mode-selector .mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
}
