<mat-sidenav-container class="container">
  <!-- [(opened)]="opened" -->
  <mat-sidenav #sidenav
               [mode]="'over'">
    <app-header [textToShow]="menus"></app-header>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary"
                 class="header-box-shadow">
      <span>GUITAR TOOLS</span>

      <span class="navigation-spacer"></span>

      <button class="navigation-items"
              *ngFor="let item of menus"
              mat-button
              [routerLink]="item.link">
        <mat-icon class="mr-1"> {{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
      <button class="navigation-icon"
              mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>