/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-content {
    overflow-x: hidden !important;
}

/* Angular Material MDC Card padding fix */
.mat-mdc-card {
    padding: 16px;
}

.mat-mdc-card-content {
    padding: 8px 0;
}

@media only screen and (max-width: 600px) {

    .navigation-icon {
        display: block;
    }

    .navigation-items {
        display: none;
    }

    .btn {
        margin-bottom: 16px !important;
        width: 100% !important;
    }

    .btn:last-child {
        margin-bottom: 0px !important;
    }
}