<div class="wrapper-container">
  <mat-card class="the-card">
    <h2 class="mat-h2">Este es otro componente</h2>
    <p>Texto a mostrar: {{ textToShow }}</p>
    <textarea
      matInput
      type="text"
      [(ngModel)]="mensaje"
      (keyup)="onPropagar()"
      placeholder="Ingrese un texto cualquiera..."
    ></textarea>

    <button
      mat-stroked-button
      class="btn"
      mat-button
      color="primary"
      (click)="onPropagar()"
    >
      Propagar
    </button>
  </mat-card>
</div>
