<mat-toolbar color="primary"
             class="footer-container">
  <a mat-button
     routerLink=".">Inicio</a>
  <a mat-button
     target="_blank"
     href="https://material.angular.io/components/categories">
    Material Angular
  </a>
  <a mat-button
     target="_blank"
     href="https://github.com/estebanzen/guitar-scale-generator">GitHub Repository
  </a>
  <a mat-button
     target="_blank"
     href="https://www.linkedin.com/in/estebanzen/">Linkedin @EstebanZenzerovich
  </a>
</mat-toolbar>
